doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datepicker3.min.css')
    //- link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
    block content
    
    script(type="application/javascript", src="http://localhost:35729/livereload.js")
    script(type="application/javascript",src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
    script(src="/js/home.js")
    script(src="/js/bootstrap-datepicker.js")
