doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
<<<<<<< HEAD
    //- script(src="index.js")
=======
>>>>>>> 8e87d8047ea9b60158d5b4011b64802f4e8a21e3
    //- link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
    block content
    
    script(type="application/javascript", src="http://localhost:35729/livereload.js")
