extends layout

block script
  script(src='scripts/submit.js')

block content
  div.container
    div user: #{user.username}
    div
      a(href='home') home

    hr

    form(action='/submit', method='post')
      input(type='hidden', name='belongTo', value='#{belongTo}')
      input(type='hidden', name='deadline', value='#{deadline}')

      div
        | title:
        input(name="title", type="text")

      div
        | content:
        textarea(name="content", rows="20", cols="100")

      div
        button(type="submit") submit
