extends layout

block content
    -var identity = user.identity
    nav(class='navbar navbar-inverse navbar-fixed-top')
        div.container
            div.navbar-header
                a(href='#',class='navbar-brand')
                    ul.nav.navbar-nav
                        li
                    -if (identity == 'teacher')
                        a(href='/home/',style="font-size:20px;color:white") You are a teacher
                    -else
                        a(href='/home/',style="font-size:20px;color:white") You are a student
            div(id='navbar',class='navbar-collapse collapse')
                ul.nav.navbar-nav
                    li
                        a(href='/signout') Sign Out
    
    form(class='form-horizontal',action='/modify/#{homework._id}', method='POST')
        div.page-header
            h1 作业修改
        div.form-group
            label.col-sm-2.control-label 标题
            div.col-sm-10
                input(type='text',name='title',class='form-control',value='#{homework.title}')
        div.form-group
            label.col-sm-2.control-label 截止时间
            div.col-sm-10
                input(type='date',name='deadline',class='form-control',value='#{homework.deadline}.valueOf')
        div.form-group
            label.col-sm-2.control-label 要求
            div.col-sm-10
                textarea(style='height:200px',class='form-control',name='description') #{homework.description}
        div.form-group
            div.col-sm-offset-2.col-sm-10
                button(type='submit',class='btn btn-default') 提交