.signup-wall{
	margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);	
}
.login-title{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.new-account{
    display: block;
    margin-top: 10px;
}
.submit {
	margin-top: 10px;
}
.sub {
	margin-top: 20px;
	padding-left: 30px;
}