doctype html
html(lang='en')
  head
    title Myhomework
    link(type="text/css", rel="stylesheet", href="/dist/semantic.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/jquery.datetimepicker.css')
    //- link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
    block content
    
    //-script(type="application/javascript", src="http://localhost:35729/livereload.js")
    script(type="application/javascript", src='/jquery.js')
    script(type="application/javascript", src='/jquery.datetimepicker.js')
    script(type="application/javascript", src='/myHw.js')
