body {
    padding: 0px 50px 50px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.header{
    background-color: #15a230;
    font-size: 40px;
    margin-bottom: 25px;
    color: white;
    padding-left: 20px;
    box-shadow: 5px 5px 10px #dddddd;
    border-radius: 0 0 10px 10px;
}
a {
  color: #00B7FF;
}
.container{
    padding-top: 20px;
    min-height: 500px;
}
button.my-btn{
    width: 100px; 
    margin:0px 0px 5px 15px;
}
input.mark{
    line-height: 20px;
    width: 100px;
    margin: 5px;
    display: inline-block;
}
.list-group-item{
    word-wrap: break-word;
}

span.deadline,span.remain{
    font-weight: bolder;
}
.selectfile{
    width: 300px;
    margin: 0 0 10px 0;
    font-size: 20px;
    background: #fafafa;
}
.editHW{
    margin-bottom: 40px;
    display: none;
}
.editHW textarea{
    margin: 15px 0;
}
.editHW button{
    float: right;
}
textarea{
    margin: 0 auto;
    width: 100%;
    min-height: 120px;
}
.my-text{
    width: 700px;
    min-height:100px;
}
#part2{
    display: none;
}
#add{
    margin: 0 0 10px 0;
}
input.short{
    width: 500px;
    display: none;
}
.display-none{
    display: none;
}
.panel-body textarea{
    width: 100%;
    overflow: visible;
    min-height: 120px;
    display: none;
}
.myp{
    width: 100%;
    word-wrap: break-word;
}
.panel-body p{
    background: white;
}
.edit,.modify{
    float: right;
    width: 49px;
    height: 40px;
}
.modify{
    display: none;
}
.right{
    float: right;
}
.username {
    position: absolute;
    right: 120px;
    line-height: 38px;
}
#signout{
    position: absolute;
    right: 50px;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus{
    z-index: 2;
}
.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"].nomargin{
	margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-wall{
	margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);	
}
.login-title{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.new-account{
    display: block;
    margin-top: 10px;
}
h1.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}
.footer{
    background: black;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    height: 70px;
    padding-top: 10px;
}