extends layout

block content
    div.container
        div.control-group
            div.controls
                h4.create-mar
                    strong Title:#{homeworks.title}
        div.control-group            
            div.controls
                h4.create-mar 
                    strong details:
                p.create-mar #{homeworks.details}
        div.control-group
            div.controls
                h4.create-mar 
                    strong score:#{homeworks.score}
        a.btn.btn-primary(href='/student_upload?id=#{assignment._id}', class='text-center new-account') Back to upload