extends layout

block content
    div.container
        div.row
            //- div.col-sm-6.col-md-4.col-md-offset-4
            #user
                h1.text-center.login-title Welcome #{user.firstName}.
                if user.identity == "teacher"
                    a(href="/assign") Assign a new homework
                mixin homework_row(id, title, deadline)
                    tr
                        td: a(href="/homework/" + id)=title
                        td=deadline
                table.table
                    thead
                        tr
                            th title
                            th deadline
                    tbody
                        each homework in homeworks
                            +homework_row(homework._id, homework.title, homework.deadline)
