doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    lick(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet', href='http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/jquery-ui-1.11.4.custom/jquery-ui.min.css')
    script(type="application/javascript", src="/jquery-ui-1.11.4.custom/external/jquery/jquery.js")
    //- script(type="application/javascript", src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
    script(type="application/javascript", src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js")
    script(type="application/javascript", src="/js/home.js")
    script(type="application/javascript", src="/jquery-ui-1.11.4.custom/jquery-ui.min.js")
    //- link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
    block content
    
    script(type="application/javascript", src="http://localhost:35729/livereload.js")
