doctype html
html
  head
    title= title
    script(src='/js/jquery-1.8.3.min.js', charset="UTF-8")
    script(src='../js/moment.js', charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
    script(src='/js/bootstrap.min.js', charset="UTF-8")
    script(src='/js/bootstrap-datetimepicker.js', charset="UTF-8")
    
    //- link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
    block content
    script(type="application/javascript", src="http://localhost:35729/livereload.js")