extends layout

block content
	div.container
		h3 ExpressJS的Web 2.0应用
		div.panel.panel-primary
			div.panel-heading
				h3.panel-title 提交1
			div.panel-body
				h4 提交同学
				p 小胖
				h4 作业内容
				p 这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例.
				form(role="form")
					div.form-group
						label.control-label(for="homework-grade") 分数
							input.form-control#homework-grade(type="text", placeholder="请给分")
						br
						button.btn.btn-success(type="button") 打分
						a.back-button(href='/home')
							button.btn.btn-info(type="button") 返回