<%- include header %>
      <form method="post" class="shorter">
        <label for="inputName" class="sr-only">Name</label>
        用户名：<input type="text" id="inputName" class="form-control" name = "name" placeholder="Your Name">
        <label for="inputPassword" class="sr-only">Password</label>
        密码：<input type="password" id="inputPassword" name = "password" class="form-control" placeholder="Your Password" required="">
        </br><button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
      </form>
<%- include footer %>
