extends layout

block content
	div.nav.navbar.navbar-inverse.navbar-fixed-top
		div.container
			div.user-info
				#user
				p.navbar-text Welcome #{user.firstName}.#{user.lastName}!
			div
				if user.identity == 'teacher'
					a.btn.navbar-btn.publish-btn(href='/hw-produce') Publish
				a.btn.navbar-btn.publish-btn(href='/hw-view') View
				a.btn.navbar-btn.signout-btn(href='/signout') Signout
	div.show-homework
		div.well.well-sm.text-center
			h2 Announcement
		ul
			each student in announcement
				li
					div.well.well-sm
						p #{student.firstName+'.'+student.lastName}
						span
							a #{student.question}

					