extends layout

block content
	div.nav.navbar.navbar-inverse.navbar-fixed-top
		div.container
			div.user-info
				#user
				p.navbar-text Welcome #{user.firstName}.#{user.lastName}!
			div
				if user.identity == 'teacher'
					a.btn.navbar-btn.publish-btn(href='/hw-produce') Publish
				a.btn.navbar-btn.publish-btn(href='/home') Home
				a.btn.navbar-btn.signout-btn(href='/signout') Signout
	div.show-homework
		div.well.well-sm.text-center
			h2 Homework
		ul
			each hw in hwlist
				li
					div.well.well-sm
						a.questions(href='/question/#{hw.question}') #{hw.question}