extends layout

user = #user
user_flag = #user_flag

block content

	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Welcome, #{user.lastName}.

			table.table(id='specification')
				caption
					h3 Homework Specification
					if user_flag
						button(class='btn btn-sm btn-primary' id='new-spec') Create Specification
						div.input-group.hidden(id='new-spec-input')
							input(type='text' class='form-control' placeholder='Homework title' aria-describedby='basic-addon1')
							input(type='text' class='form-control' placeholder='Deadline (YYYY-MM-DD HH:MM:SS)' aria-describedby='basic-addon1')
							input(type='text' class='form-control' placeholder='Content' aria-describedby='basic-addon1')
							button(class='btn btn-sm btn-success' id='save-new-spec') Post
							button(class='btn btn-sm btn-default' id='cancel-new-spec') Cancel
				thead
					tr
						th
						th Title
						th Current Version
						th Deadline
						th Author
						th Content
					tbody

			table.table(class='#{user_flag}' id='homework')
				caption
					if user_flag
						h3 All Students' Homework
					else
						h3 My Homework
						button(class='btn btn-sm btn-primary' id='new-hw' data-toggle='modal' data-target='#my-modal') Write Homework
						div.input-group.hidden(id='new-hw-input')
							input(type='text' class='form-control' placeholder='Homework title' aria-describedby='basic-addon1')
							input(type='text' class='form-control' placeholder='Content' aria-describedby='basic-addon1')
							button(class='btn btn-sm btn-success' id='save-new-hw') Submit
							button(class='btn btn-sm btn-default' id='cancel-new-hw') Cancel
				thead
					tr
						th
						th Title
						th Current Version
						th Last Modified
						th Author
						th Content
						th Grades
					tbody

			a(href='/signout', class='text-center new-account') Sign Out

	script(src='/scripts/jquery.min.js')
	script(src='/scripts/home.js')
