extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
					div.signup-wall
						span.time Current Time
						br
						span.timeing #{time}
					h1.text-center.login-title  Pay Attention !!
						div.signup-wall
							span This mission's DDL is #{requirement.ddl}, your action is illegal .
						if error == 'r'
							a(href='/viewrequirement', class='text-center new-account') Back
						if error == 'h'
							a(href='/viewhomework', class='text-center new-account') Back
