extends layout

block content
	h1.text-center.login-title Welcome ! You Last Homework:
		textarea(type='text', name='hwid', rows = '15', class='form-control', placeholder = '#{item.content}' ,required)
	a(href='/hwsee', class='text-center new-account') Back
					
