extends layout

block content
	form(class='form-signin', action='/submit/#{myrequirement.name}', method='POST')
		textarea(rows="12", cols="113", name="answer", placeholder='Your Answer', class='form-control')
		button(class='btn btn-lg btn-primary btn-block', type='submit') Submit
	a(href='/home', class='text-center new-account') Back