extends layout

block content
    link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/setAssignment.css')
    script(type="text/javascript", src="/js/bootstrap-datetimepicker.min.js")
    script(type="text/javascript", src="/js/datepicker.js")
    script(type="text/javascript", src="/ueditor/ueditor.config.js")
    script(type="text/javascript", src="/ueditor/ueditor.all.min.js")
    script(type="text/javascript", src="/ueditor/lang/zh-cn/zh-cn.js")
    script(type="text/javascript", src="/js/assignment/setAssignment.js")
    div.container
        div.row.signup-wall
            if mode == "set"
                h1.text-center 发布作业
                form(class='text-center', method='POST')
                    div.form-group
                        label(for='title' class='control-label') 标题
                        input(type='text' name='title' size="30")
                        label(for='deadline' class='control-label')
                            i.icon-time 截止时间
                        input(type='text' placeholder="点击选择截止时间"  name="deadline" readonly  size="14" id="datetimepicker")
                    script(id="editor", type="text/plain", src="/ueditor/lang/zh-cn/zh-cn.js", style="width:1024px;height:500px;margin:0 auto;margin-bottom:20px;")
                    script UE.getEditor('editor')
                    input(name='content' id="submit_input" value="", type="hidden")
                    button(class='btn btn-lg btn-primary', type='submit', id="submit")
                        i.icon-pencil 发布
            else
                h1.text-center 修改作业
                form(class='text-center', method='POST')
                    div.form-group
                        label(for='title' class='control-label') 标题
                        input(type='text' name='title' size="30" value='#{title}')
                        label(for='deadline' class='control-label')
                            i.icon-time 截止时间
                        input(type='text' placeholder="点击选择截止时间"  name="deadline" readonly  size="14" id="datetimepicker" value='#{deadline}') 
                    script(id="editor", type="text/plain", src="/ueditor/lang/zh-cn/zh-cn.js", style="width:1024px;height:500px;margin:0 auto;margin-bottom:20px;")
                    script UE.getEditor('editor')
                    input(name='content' id="submit_input" value="#{content}" type="hidden") 
                    button(class='btn btn-lg btn-primary', type='submit', id="submit")
                        i.icon-pencil 修改
            
    
