extends layout

block content
	form(action='/myHomework', method='POST')
		div.update
			input(class = 'hidden' name = 'asct' value = '#{cass.content}')
			input(class='hidden', name = 'asdl', value = '#{cass.date}')
			input(class = 'hidden' name = 'studentName' value = '#{cstu.firstName}')
			textarea(name = 'submit', class='form-control', required) 
			br
			button(class='btn btn-lg btn-primary btn-block', type='submit') submit