extends baseteacher

block content-right
    .correcthw
      .page-header
        h1
          | 软件过程改进
      table.table.table-bordered
        tr
          th.col-md-2 作业名
          th.col-md-5 要求
          th.col-md-3 截止时间
          th.col-md-3 操作
        each course in hw
          tr
            td.changetdfont #{course.hwname}
            td.changetdfont #{course.command}
            td.changetdfont.highlight #{course.ddl}
            td
              a.btn.btn-primary(role="button" href="/score/#{course._id}") 批改
