extends layout

block content
  nav(class='navbar navbar-default navbar-fixed-top')
    div.container-fluid
      div.navbar-header
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/home', class='navbar-brand') MyHomework
      div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
        if user.identity == 'teacher'
          ul.nav.navbar-nav
            li
              a(href="#" data-toggle="modal" data-target="#myModal")
                span(class="glyphicon glyphicon-plus" aria-hidden="true")
                span 布置作业
        ul.nav.navbar-nav.navbar-right
          li
            p.navbar-text welcome #{user.name}
          li
            a(href='/signout') 退出
  include addhw
  each item in hwlist
    include hwitem.jade