doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css')
    //-link jquery here!
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    //- link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
    block content
    
    script(type="application/javascript", src="http://localhost:35729/livereload.js")
